@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif; /* Updated to use Helvetica */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery-image {
  transition: transform 0.3s ease;
}
.gallery-image:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce-animation {
  animation: bounce 2s infinite;
}

/* Optional: Adjust bullet size for mobile */
/* Pagination Bullets */
.swiper-pagination-bullet {
  background-color: #333 !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
 
  background-color: #D57500 !important;
  opacity: 1;
  transform: scale(1.2);
}

.swiper-pagination {
  margin-top: 5px !important;
  bottom: -5 !important;
}


@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.8s ease-in-out both;
}

@keyframes slide-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-slide-up {
  animation: slide-up 0.7s ease-out both;
}
